<div>
    <app-search (searchTextChanges)="onSearchTextEntered($event)"></app-search>
    <app-filter 
    [All]="getTotallists()"
    [Veg]="getTotalveglists()"
    [NonVeg]="getTotalNonveglists()"
    (filterRadioButtonSelectionChanged)="onfilterRadioButttonChanged($event)"></app-filter>
</div>
<ng-container  *ngFor="let list of lists">
<ng-container *ngIf="listsCountRadioButton === 'All' || listsCountRadioButton === list.type">
    <div class="list-container" *ngIf="searchText === '' || list.name.toLowerCase().includes(searchText) ">
        <div class="list-card">
            <div>
                <img [src]="list.image" style="width:220px;height:140px;">
            </div>
            <div class="list-name"><h4>{{ list.name }}</h4></div>
            <div class="list-description"><p>{{list.description.slice(0,80)}}....</p></div>
            <div class="details">
                <div class="list-type" [ngStyle]="{color:list.type === 'Veg' ? 'Green' : 'red'}">{{list.type}}</div>
                <div class="list-price"><b>Price:</b>${{list.price}}</div>
            </div>
            <div class="list-buttons">
            <button class="btn btn-buy">Buy Now</button>
            <button class="btn btn-show">Show Details</button>
            </div>
        </div>
    </div>
</ng-container>   
</ng-container>
